html,
body {
  height: 100%;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

#center {
  height: 100%;
  width: 100%;
}

#entry-container {
  margin-top: 10px;
  margin-left: 85px;
  position: absolute;
  pointer-events: none;
  z-index: 50;
}

#toolbar-panel {
  pointer-events: all;   
  margin-bottom: 5px;
}

#edit-panel {
  margin: 0;
  display: inline-block;
  pointer-events: all;   
}

#edit-panel form {
  position: relative;
}

.icon-overlay {
  position: relative; 
  display: block; 
  margin-bottom: 5px;
  cursor: pointer;
}

.btn-delete {
  position: absolute;
  right: 0;
}