html,
body {
  height: 100%;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

#center {
  height: 100%;
  width: 100%;
}

#entry-container {
  margin-top: 10px;
  margin-left: 85px;
  position: absolute;
  z-index: 50;
}

#entry-container form {
  margin-bottom: 0;
}
