<form>
  <button class="btn btn-danger btn-delete" ng-click="deleteNode(data.selected); unselect()">Delete</button>
  <legend>Node</legend>

  <div class="control-group">
    <label class="control-label" for="inputIcon">Tags</label>
    <div class="controls"> 
      <label class="checkbox"> 
        <input type="checkbox" ng-model="data.selected.door"> Is a door
      </label>

      <label class="checkbox">
        <input type="checkbox" ng-model="data.selected.wheelchair"> Is wheelchair accessible
      </label>
    </div>
  </div>
</form>